.btn {
  --padding-y: 49px;
  --padding-x: 20px;
  padding: var(--padding-x) var(--padding-y);
  margin: 0;
  border: none;
  border-radius: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-black);
  color: var(--c-white);
  font-size: .8rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-wrap: wrap;
  transition-property: color, background-color;
  transition-duration: .3s;

  &:hover {
    background-color: var(--c-secondary);
    color: var(--c-black);
  }

  &.btn-outline {
    --border-width: 2px;
    padding: calc(var(--padding-x) - var(--border-width)) calc(var(--padding-y) - var(--border-width));
    border: var(--border-width) solid var(--c-black);
    background-color: transparent;
    color: var(--c-black);

    &:hover {
      background-color: var(--c-black);
      color: var(--c-white);
    }
  }
}

@media screen and (max-width:1024px) {
  .btn {
    --padding-y: 43px;
    --padding-x: 16px;

    letter-spacing: .5px;

    &.btn-outline {
      padding: var(--padding-x) var(--padding-y);
      border: none;
      background-color: rgba(255, 255, 255, .9);
      // border-color: rgba(255, 255, 255, .9);
    }
  }
}