.header {
  padding: 26px 0;
  z-index: 1;


  &__container {
    display: flex;
    align-items: start;
  }

  &__link {
    display: flex;
  }
}

@media screen and (max-width: 576px) {
  .header {
    padding: 16px 0;

    &__link {
      width: 213px;
    }
  }
}