.hero {
  position: relative;
  z-index: 1;

  &__content {
    max-width: 542px;
  }

  &__title {
    margin-bottom: 24px;
    font-family: var(--font-merriweather);
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    text-transform: uppercase;
  }

  &-title {
    &__center {
      display: block;
      text-align: center;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 35px;
    text-align: center;
    font-size: .9rem;
  }

  &__btns {
    display: flex;
    column-gap: 16px;
    row-gap: 14px;

    .btn {
      flex: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    &__content {
      max-width: 475px;
    }

    &__title {
      font-size: 48px;
    }

    &__descr {
      font-size: .8rem;
    }
  }
}

@media screen and (max-width: 576px) {
  .hero {
    &__title {
      font-size: 36px;
      line-height: 1.1;
    }

    &__descr {
      margin-bottom: 30px;
      text-align: start;
      font-size: 1rem;
      line-height: 1.2;
    }

    &__btns {
      flex-direction: column;
    }
  }
}