.parts {
  overflow: hidden;

  &__title {
    max-width: 800px;
  }

  &__slider {
    position: relative;

    &::before {
      --plane-png-1x: url('../images/1x/plane@1x.png');
      --plane-png-2x: url('../images/2x/plane@2x.png');
      --plane-webp-1x: url('../images/webp/1x/plane@1x.webp');
      --plane-webp-2x: url('../images/webp/2x/plane@2x.webp');
      --plane: image-set(var(--plane-png-1x) 1x, var(--plane-png-1x) 1x);
      /*--------------------------------------------------*/
      content: '';
      position: absolute;
      bottom: 0;
      right: -60px;
      width: 401px;
      height: 235px;
      background-image: var(--plane);
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 1;

      @supports (background-image: url("image.webp")) {
        --plane: image-set(var(--plane-webp-1x) 1x, var(--plane-webp-1x) 1x);
      }
    }


    .slider__pagination {
      display: flex;
      justify-content: center;
    }

    .slider__pagination-item {
      width: 10px;
      height: 10px;
      background-color: #ccc;
      border-radius: 50%;
      margin: 0 3px;
      cursor: pointer;
    }

    .slider__pagination-item.active {
      background-color: #333;
    }
  }

  &__slider:not(.init) {

    .parts__slider-btns {
      display: none;
    }

    overflow: visible;

    .parts__list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
      grid-auto-rows: auto;
    }
  }

  &__list {
    counter-reset: item;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style: none;

  }

  &__swap {
    padding: 0;
    margin: 0;
    display: contents;
    list-style: none;
  }

  &__item {
    --bg-parts-png-1x: url('../images/1x/parts@1x.png');
    --bg-parts-png-2x: url('../images/2x/parts@2x.png');
    --bg-parts-webp-1x: url('../images/webp/1x/parts@1x.webp');
    --bg-parts-webp-2x: url('../images/webp/2x/parts@2x.webp');
    --bg-parts: image-set(var(--bg-parts-png-1x) 1x, var(--bg-parts-png-2x) 2x);
    /*----------------------------------------------------------------*/
    // padding: 20px;
    display: flex;
    align-items: start;
    column-gap: 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    background: var(--bg-main), var(--bg-parts);
    background-blend-mode: color-burn;
    background-size: 100%, auto;


    @supports (background-image: url("image.webp")) {
      --bg-parts: image-set(var(--bg-parts-webp-1x) 1x, var(--bg-parts-webp-2x) 2x);
    }

    &::before {
      counter-increment: item;
      content: counters(item, ".") " ";
      margin: 20px 0 0 20px;
      border-radius: 18px;
      display: block;
      flex-shrink: 0;
      width: 36px;
      aspect-ratio: 1;
      line-height: 36px;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      background-color: var(--c-white);
    }


    &_row-2 {
      grid-row: span 2;
    }

    &_col-2 {
      padding-right: 290px;
      grid-column: span 2;
    }
  }

  &__content {
    padding: 20px;
    padding-left: 0;
  }
}

@media screen and (max-width: 1180px) {
  .parts {
    &__swap {
      &:first-child {
        display: flex;
        flex-direction: column;
        grid-row: span 2;
      }
    }

    &__item {
      &_row-2 {
        grid-row: span 2;
      }


      // &_col-2 {
      //   grid-column: span 2;
      // }

      &.row-l-auto {
        grid-row: auto;
      }

      &.col-l-2 {
        grid-column: auto;
      }
    }
  }
}

@media screen and (max-width: 1113px) {
  .parts {
    &__swap {
      display: flex;
      flex-direction: column;
      // grid-row: span 2;
    }
  }
}

@media screen and (max-width: 768px) {
  .parts {
    &__item {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 650px) {
  .parts {
    &__slider {
      &-btns {
        margin-top: 27px;
        display: flex;
        justify-content: center;
      }

      &::before {
        bottom: auto;
        right: 50%;
        top: 0;
        width: 335px;
        height: 182px;
        background-size: cover;
        translate: 50% 0;
      }
    }

    &__list {
      padding-top: 128px;

    }
  }
}

@media screen and (max-width: 576px) {
  .parts {
    &__title.section-title {
      margin-bottom: 16px;
    }

    &__swap {
      .parts__item {
        &:first-child {
          padding-top: 43px;

          .parts__content {
            padding-bottom: 10px;
          }
        }

        &:last-child {
          padding-top: 0;
          height: 100%;
          padding-bottom: 12px;
        }

      }
    }

    &__item {
      padding-top: 43px;
      padding-right: 0;
      line-height: 22px;
    }
  }
}