.slider {
  width: 100%;
  overflow: hidden;

  &__track {
    display: flex;
    // gap: 20px;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
  }

  // &__item {
  // border: 1px solid blue;
  // flex: 0 0 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // font-size: 2em;
  // }

  &__btns {
    display: flex;
    gap: 14px;
    align-items: center;
  }


  .prev-button,
  .next-button {
    padding: 0;
    border: none;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    aspect-ratio: 1;
    background-color: var(--c-text);
    cursor: pointer;

    @media screen and (max-width:568px) {
      width: 36px;
    }
  }

  .prev-button {
    padding-right: 4px;
  }

  .next-button {
    padding-left: 4px;
  }

  &__pagination {
    font-size: 16px;
    letter-spacing: 4px;
    color: var(--c-grey);
  }

  .current-slide {
    color: var(--c-text);
  }


  // @media (min-width: 600px) {
  //   &__item {
  //     flex: 0 0 calc(50% - 20px);
  //   }
  // }

  // @media (min-width: 900px) {
  //   &__item {
  //     flex: 0 0 calc(33.33% - 20px);
  //   }
  // }
}