.support {
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    column-gap: 5%;

    &::after {
      --bg-sup-png-1x: url('../images/1x/support-1@1x.png');
      --bg-sup-png-2x: url('../images/2x/support-1@2x.png');
      --bg-sup-webp-1x: url('../images/webp/1x/support-1@1x.webp');
      --bg-sup-webp-2x: url('../images/webp/2x/support-1@2x.webp');

      --images: image-set(var(--bg-sup-png-1x) 1x, var(--bg-sup-png-2x) 2x);

      content: '';
      display: block;
      flex-shrink: 0;
      width: 394px;
      width: 32%;
      aspect-ratio: 394 / 250;
      background-image: var(--images);
      background-size: contain;
      object-fit: cover;
      border-radius: 50%;

      @supports (background-image: url("image.webp")) {
        --images: image-set(var(--bg-sup-webp-1x) 1x, var(--bg-sup-webp-2x) 2x);
      }
    }
  }

  &__title {
    font-family: var(--font-merriweather);
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    text-transform: uppercase;

    &_red {
      font-weight: 700;
      color: var(--c-red);
    }
  }

  &__game {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding-left: calc(39% + 44px);

    &::before {
      --bg-sup-png-1x: url('../images/1x/support-2@1x.png');
      --bg-sup-png-2x: url('../images/2x/support-2@2x.png');
      --bg-sup-webp-1x: url('../images/webp/1x/support-2@1x.webp');
      --bg-sup-webp-2x: url('../images/webp/2x/support-2@2x.webp');

      --images: image-set(var(--bg-sup-png-1x) 1x, var(--bg-sup-png-2x) 2x);

      content: '';
      position: absolute;
      left: -27px;
      top: -24px;
      width: 48.3%;
      display: block;
      height: 609px;
      background-image: var(--images);
      background-size: contain;
      background-repeat: no-repeat;

      @supports (background-image: url("image.webp")) {
        --images: image-set(var(--bg-sup-webp-1x) 1x, var(--bg-sup-webp-2x) 2x);
      }
    }
  }

  &__descr {
    color: var(--c-blue);
  }


  &__table {
    width: 100%;

    &-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 48px;
      z-index: 1;
      background-color: var(--c-white);
    }
  }

  .support-table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;

    &__tr {
      &:not(:last-child) {
        border-bottom: 2px solid var(--c-grey);
      }

      &:first-child {

        .support-table__title,
        .support-table__descr {
          padding-top: 0;
        }
      }

      &:last-child {

        .support-table__title,
        .support-table__descr {
          padding-bottom: 0;
        }
      }
    }

    &__title,
    &__descr {
      font-family: var(--font-golos);
      line-height: 24px;
      padding: 15px;
      white-space: nowrap;

      // for mobile devices
      // width: 100%;
      // display: block;
    }

    &__title {
      padding-left: 0;
      width: 43.5%;
      text-align: left;
      font-weight: 400;
      vertical-align: top;
      border-right: 2px solid var(--c-grey);
    }

    &__descr {
      text-align: left;
      padding-right: 0;

      s {
        position: relative;
        color: var(--c-text);
      }

      s::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 2px;
        background-color: red;
        pointer-events: none;
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  .support {
    &__title {
      font-size: 28px;
      line-height: 40px;
    }

    &__wrapper {
      column-gap: 3%;
    }

    &__game {
      &::before {
        width: 43%;
      }
    }
  }

}

@media screen and (max-width: 1080px) {
  .support {
    &__container {
      row-gap: 40px;
    }
  }

  .game {
    padding-left: 0;
    padding-top: 175px;

    &__title {
      padding-left: 45%;
    }
  }
}

@media screen and (max-width: 992px) {
  .support {
    &__wrapper {
      flex-direction: column-reverse;

      &::after {
        content: none;
      }
    }

    &__title {
      &_transfer {
        display: flex;
        flex-direction: column;

        &::before {
          --bg-sup-png-1x: url('../images/1x/support-1@1x.png');
          --bg-sup-png-2x: url('../images/2x/support-1@2x.png');
          --bg-sup-webp-1x: url('../images/webp/1x/support-1@1x.webp');
          --bg-sup-webp-2x: url('../images/webp/2x/support-1@2x.webp');

          --images: image-set(var(--bg-sup-png-1x) 1x, var(--bg-sup-png-2x) 2x);

          content: '';
          display: block;
          margin: 24px auto;
          flex-shrink: 0;
          width: 100%;
          max-width: 394px;
          aspect-ratio: 394 / 250;
          background-image: var(--images);
          background-size: contain;
          object-fit: cover;
          border-radius: 50%;

          @supports (background-image: url("image.webp")) {
            --images: image-set(var(--bg-sup-webp-1x) 1x, var(--bg-sup-webp-2x) 2x);
          }


        }
      }
    }

    .game {
      row-gap: 0;
      padding-top: 0;

      &::before {
        position: static;
        width: 100%;
        background-position: center;
        height: 402px;
      }

      &__title {
        margin-bottom: 44px;
        padding-left: 0;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .support {
    &__title {
      &_transfer {
        &::before {
          margin: 20px auto;
        }
      }
    }

    .game {
      &__title {
        margin-bottom: 35px;
      }

      &::before {
        width: 100%;
        height: 414px;
        background-position: center;
      }
    }


    &__descr {
      font-size: 18px;
      line-height: 21px;
    }

    &__table-wrapper {
      row-gap: 43px;
    }

    .support-table {

      &__tr {
        &:not(:first-child) {
          .support-table__title {
            padding-top: 15px;
          }
        }

        &:last-child {
          .support-table__descr {
            margin-bottom: 0;
          }
        }

        &:nth-child(4) {
          display: flex;
          align-items: center;
          column-gap: 6px;

          // .support-table__title,
          // .support-table__descr {

          // }

          .support-table__descr {

            margin: 0;
          }
        }

        &:not(:nth-child(4)) {

          .support-table__title,
          .support-table__descr {
            display: block;
            width: 100%;

          }

        }

      }

      &__title {
        margin-bottom: 12px;
      }

      &__descr {
        margin-bottom: 15px;
      }

      &__title,
      &__descr {
        padding: 0;
        border: none;
      }
    }
  }
}