@import './fonts/golos';
@import './fonts/meriiweather';
@import './btn';
@import './header';
@import './hero';

:root {
  --font-golos: 'Golos Text', Arial, Helvetica, Verdana, Roboto, Open Sans, sans-serif;
  --font-merriweather: 'Merriweather', Georgia, 'Times New Roman', Palatino, serif;

  font-family: var(--font-golos);
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // colors
  --c-black: #1F1F1F;
  --c-white: #FFFFFF;
  --c-secondary: #FBCE51;
  --c-red: #F54932;
  --c-text: #313131;

  // mouse
  --mouse-x: 50%;
  --mouse-y: 50%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--c-text);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }

}

.viewport {
  --bg-png-1x: url('../images/1x/hero-bg@1x.png');
  --bg-png-2x: url('../images/2x/hero-bg@2x.png');
  --bg-webp-1x: url('../images/webp/1x/hero-bg@1x.webp');
  --bg-webp-2x: url('../images/webp/2x/hero-bg@2x.webp');

  --city-png-1x: url('../images/1x/city@1x.png');
  --city-png-2x: url('../images/2x/city@2x.png');
  --city-webp-1x: url('../images/webp/1x/city@1x.webp');
  --city-webp-2x: url('../images/webp/2x/city@2x.webp');

  --king-png-1x: url('../images/1x/king@1x.png');
  --king-png-2x: url('../images/2x/king@2x.png');
  --king-webp-1x: url('../images/webp/1x/king@1x.webp');
  --king-webp-2x: url('../images/webp//2x/king@2x.webp');

  --queen-png-1x: url('../images/1x/queen@1x.png');
  --queen-png-2x: url('../images/2x/queen@2x.png');
  --queen-webp-1x: url('../images/webp/1x/queen@1x.webp');
  --queen-webp-2x: url('../images/webp//2x/queen@2x.webp');

  --knight-png-1x: url('../images/1x/knight@1x.png');
  --knight-png-2x: url('../images/2x/knight@2x.png');
  --knight-webp-1x: url('../images/webp/1x/knight@1x.webp');
  --knight-webp-2x: url('../images/webp//2x/knight@2x.webp');

  --pawn-png-1x: url('../images/1x/pawn@1x.png');
  --pawn-png-2x: url('../images/2x/pawn@2x.png');
  --pawn-webp-1x: url('../images/webp/1x/pawn@1x.webp');
  --pawn-webp-2x: url('../images/webp//2x/pawn@2x.webp');

  --sun-png-1x: url('../images/1x/sun@1x.png');
  --sun-png-2x: url('../images/2x/sun@2x.png');
  --sun-webp-1x: url('../images/webp/1x/sun@1x.webp');
  --sun-webp-2x: url('../images/webp//2x/sun@2x.webp');

  --images: image-set(var(--bg-png-1x) 1x, var(--bg-png-2x) 2x);

  display: flex;
  flex-direction: column;
  gap: 33px;
  height: 100vh;
  background: var(--images), #E9DED4;
  background-blend-mode: color-burn;
  background-repeat: repeat;

  @supports (background-image: url("image.webp")) {
    --images: image-set(var(--bg-webp-1x) 1x, var(--bg-webp-2x) 2x);
  }

  &::after {
    --sun: image-set(var(--sun-png-1x) 1x, var(--sun-png-2x) 2x);

    content: '';
    position: absolute;
    right: 10%;
    top: -64px;
    width: 700px;
    aspect-ratio: 1;
    background-image: var(--sun);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transform-origin: center;
    animation: rotate 30s infinite linear;
  }

  &::before {
    --king: image-set(var(--king-png-1x) 1x, var(--king-png-2x) 2x);
    --queen: image-set(var(--queen-png-1x) 1x, var(--queen-png-2x) 2x);
    --city: image-set(var(--city-png-1x) 1x, var(--city-png-2x) 2x);
    --knight: image-set(var(--knight-png-1x) 1x, var(--knight-png-2x) 2x);
    --pawn: image-set(var(--pawn-png-1x) 1x, var(--pawn-png-2x) 2x);

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    // inset: 0;
    z-index: 1;
    background-image:
      var(--knight),
      var(--pawn),
      var(--city),
      var(--queen),
      var(--king);
    background-repeat: no-repeat;
    background-position:
      calc(66.9% + ((var(--mouse-x) - 50%) * -.03)) 100%,
      calc(87.38% + ((var(--mouse-x) - 50%) * -.02)) calc(96.6% + ((var(--mouse-y) - 50%) * -.03)),
      calc(69.5% + ((var(--mouse-x) - 50%) * .1)) 100%,
      calc(79.36% + ((var(--mouse-x) - 50%) * -.05)) calc(38% + ((var(--mouse-y) - 50%) * -.1)),
      calc(57.15% + ((var(--mouse-x) - 50%) * -.03)) calc(62.1% + ((var(--mouse-y) - 50%) * -.05));
  }

  @supports (background-image: url("image.webp")) {
    --king: image-set(var(--king-webp-1x) 1x, var(--king-webp-2x) 2x);
    --queen: image-set(var(--queen-webp-1x) 1x, var(--queen-webp-2x) 2x);
    --city: image-set(var(--city-webp-1x) 1x, var(--city-webp-2x) 2x);
    --knight: image-set(var(--knight-webp-1x) 1x, var(--knight-webp-2x) 2x);
    --pawn: image-set(var(--pawn-webp-1x) 1x, var(--pawn-webp-2x) 2x);
  }
}

.marquee {
  --gap: 30px;
  position: relative;
  z-index: 1;
  margin-top: auto;
  display: flex;
  gap: var(--gap);
  height: 60px;
  overflow: hidden;
  user-select: none;
  font-family: var(--font-merriweather);
  text-transform: uppercase;
  font-size: 22px;
  color: var(--c-white);
  background-color: var(--c-red);

  &__content {
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll 10s linear infinite;
  }

  &__item {
    &::marker {
      color: var(--c-white);
      width: 6px;
    }
  }
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.container {
  max-width: 1222px;
  margin: 0 auto;
  padding: 0 72px;

  @media screen and (max-width: 768px) {
    padding: 0 25px;

  }

}

@media screen and (max-width: 576px) {
  .viewport {
    gap: 22px;

    &::after {
      right: 10%;
      top: auto;
      bottom: 16%;
      width: 316px;
    }

    &::before {
      background-size: 27%, 0 0,
        255%,
        0 0, 0 0;
      background-position: 53% bottom, 0 0,
        76% bottom,
        0 0, 0 0;
    }
  }

  .container {
    padding: 0 20px;
  }
}