:root {
  --container-offset: 24px;
}
.main {
  position: relative;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1390px;
  padding: 0 var(--container-offset);
}

@media (max-width: 1439px) {
  :root {
    --container-offset: 30px
  }
  }
  
  @media (max-width: 1279px) {
  :root {
    --container-offset: 24px
  }
}

@media (max-width: 767px) {
  :root {
    --container-offset: 20px
  }
}