.card {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  background-color: white;

  &__preview {
    padding-right: 75px;
    display: flex;
    justify-content: space-between;

    // раньше большое количество брейкпоинтов было плохой практикой
    // но современные браузеры теперь куда мощнее для их обработки
    // по этому можно писать так

    // p.s. А то мало ли посчитаете что это косяк

    @media screen and (max-width: 1279px) {
      max-height: 216px;
      overflow: hidden;
    }
    
    
    @media screen and (max-width: 1023px) {
      max-height: 205px;
    }
  }
  
  &__img {
    height: 268px;
    transform-origin: top;
    
    @media screen and (max-width: 1279px) {
      scale: 1.1;
    }
    
    @media screen and (max-width: 1023px) {
      align-self: center;
      height: 185px;
      width: 103px;
      scale: 1;
    }
  }

  &__icon {
    display: flex;
  }

  &__info {
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #e9e9e9;
    
    @media screen and (max-width: 1023px) {
      padding: 12px 10px;
      row-gap: 24px;
    }
  }

  &__actions {
    display: grid;
    grid-template-columns: 99px auto 28px;
    row-gap: 12px;
    column-gap: 10px;
    
    @media screen and (max-width: 1023px) {
      grid-template-columns: auto 28px;
      gap: 10px;
    }
  }

  &__price {
    grid-column: 1/-1;
  }

  .toBasket {
    margin-right: 10px;
    padding: 12px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: #e41d1b;

    @media screen and (max-width: 1023px) {
      margin-right: 0;
    }
  }
  
  .buy {
    grid-column: 1/-1;
    border: 1px solid #888888;
    padding: 12px;
    font-family: inherit;
    font-size: 15px;
    font-weight: 500;
  }
}
