.card {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  background-color: white;

  &__preview {
    padding-right: 75px;
    display: flex;
    justify-content: space-between;

    // раньше большое количество брейкпоинтов было плохой практикой
    // но современные браузеры теперь куда мощнее для их обработки
    // по этому можно писать так

    // p.s. А то мало ли посчитаете что это косяк

    @media screen and (max-width: 1279px) {
      max-height: 216px;
      overflow: hidden;
    }
    
    
    @media screen and (max-width: 1023px) {
      max-height: 205px;
    }
  }
  
  &__img {
    height: 268px;
    transform-origin: top;
    
    @media screen and (max-width: 1279px) {
      scale: 1.1;
    }
    
    @media screen and (max-width: 1023px) {
      align-self: center;
      height: 185px;
      width: 103px;
      scale: 1;
    }
  }

  &__icons {
    padding: 0 10px 11px 10px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
  }

  &__icon {
    display: flex;
  }

  &__info {
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #e9e9e9;
    
    @media screen and (max-width: 1023px) {
      padding: 12px 10px;
      row-gap: 24px;
    }
  }

  &__descr {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    
    @media screen and (max-width: 1023px) {
      row-gap: 8px;
    }
  }

  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 23.4px;
    text-align: left;
    
    @media screen and (max-width: 1023px) {
      font-size: 14px;
    }
  }

  &__rank {
    display: flex;
    column-gap: 12px;
    align-items: center;
    text-wrap: nowrap;

    @media screen and (max-width: 1023px) {
      justify-content: space-between;
    }
  }

  &__stars {
    display: flex;
  }

  &__feedback {
    font-size: 12px;
    font-weight: 400;
  }

  &__types {
    display: grid;
    grid-template-columns: 30px auto;
    row-gap: 6px;
    column-gap: 10px;
    
    @media screen and (max-width: 1023px) {
      row-gap: 3px;
    }
  }

  &__type {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
  }

  &__actions {
    display: grid;
    grid-template-columns: 99px auto 28px;
    row-gap: 12px;
    column-gap: 10px;
    
    @media screen and (max-width: 1023px) {
      grid-template-columns: auto 28px;
      gap: 10px;
    }
  }

  &__price {
    grid-column: 1/-1;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-weight: 500;
  }

  &__oldPrice {
    font-size: 20px;
    line-height: 26px;
    color: #888888;
  }
  &__newPrice {
    font-size: 26px;
    line-height: 33.8px;
  }

  &__counter {
    border-radius: 4px;
    padding: 12px 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
    background-color: white;

    @media screen and (max-width: 1023px) {
      display: none;
    }
  }

  &__button {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
  }

  .toBasket {
    margin-right: 10px;
    padding: 12px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: #e41d1b;

    @media screen and (max-width: 1023px) {
      margin-right: 0;
    }
  }
  
  .buy {
    grid-column: 1/-1;
    border: 1px solid #888888;
    padding: 12px;
    font-family: inherit;
    font-size: 15px;
    font-weight: 500;
  }
}
