.rank {
  display: flex;
  column-gap: 12px;
  align-items: center;
  text-wrap: nowrap;

  @media screen and (max-width: 1023px) {
    justify-content: space-between;
  }

  &__stars {
    display: flex;
  }

  &__feedback {
    font-size: 12px;
    font-weight: 400;
  }
}
