.counter {
  border-radius: 4px;
  padding: 12px 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  background-color: white;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}