.price {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-weight: 500;

  &__old {
    font-size: 20px;
    line-height: 26px;
    color: #888888;
  }

  &__new {
    font-size: 26px;
    line-height: 33.8px;
  }
}
