.descr {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  
  @media screen and (max-width: 1023px) {
    row-gap: 8px;
  }

  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 23.4px;
    text-align: left;
    
    @media screen and (max-width: 1023px) {
      font-size: 14px;
    }
  }
}