@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather-Regular'),
  url('../../fonts/Meriiweather/regular/merriweather-regular.woff2') format('woff2'),
  url('../../fonts/Meriiweather/regular/merriweather-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather-Bold'),
  url('../../fonts/Meriiweather/bold/merriweather-bold.woff2') format('woff2'),
  url('../../fonts/Meriiweather/bold/merriweather-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
